@font-face {
	font-family: 'SiteFont';
	src: url('../fonts/ubuntu-font-0.80/Ubuntu-M.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    
    display: -webkit-box;
    -webkit-box-pack: center;
}

#wrapper {
    max-width: 960px;
    margin: 15px 0px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex=1;
}

.board {
	display: -webkit-box;

	-webkit-box-orient: vertical;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 2px 2px 3px;

	background-image: url(diamond_plate.jpeg);
	background-position: center top;
	background-repeat: repeat;

	border: 1px solid rgba(0, 0, 0, 0.7);
}

.row {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;	
}

.button {
	width: 100px;
	height: 25px;
	font-size: 20px;
}

.cell {
	width: 50px;
	height: 50px;
	font-size: 43px;
}

.button,
.cell {
	font-family: SiteFont, verdana, sans-serif;
	color: rgba(255,255,255,1.0);

	text-align: center;
	text-shadow:
		rgba(0,0,0,1.0) 1px 1px 1px;

	border: 1px solid rgba(0,0,0,0.7);

	padding-top: 0%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;

	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;

	-webkit-border-radius: 5px;

	background: -webkit-linear-gradient(
		-87deg, 
		rgba(255, 255, 255, .4) 35%, 
		rgba(0, 0, 0, .4) 50%, 
		rgba(0,0,0,.6) 90%);

	-webkit-box-shadow: 
		rgba(0,0,0,0.5) 1px 1px 2px,
		rgba(255,255,255,0.7) 0px 1px inset,
		rgba(255,255,255,0.5) 0px 1px 5px inset,
		rgba(0,0,0,0.7) 0px -1px inset;
}
